.navigation {
    padding-right: 10px;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    background-color: #0D3309;
        color: white;
}

.mainNav {
    display: flex;
    justify-content: center;
        align-items: center;
    gap: 0px 20px;
    @media only screen and (max-width: 600px) {
            gap: 0px 10px;
}

.link {
    padding: 0px 10px;
    &:active,
        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
                                @media only screen and (max-width: 600px) {
                                    padding: 0px 5px;
                                }
                }

.company {
    display: flex;
    align-items: center;
    font-size: 20px;
        background-color: #2B2B2B;
        height: 50px;
}