.primary,
.secondary,
.tertiary {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;

}

.secondary {
    border: 3px solid #0D3309;
    background-color: white;
    color: #2B2B2B;

    &:hover,
    &:active {
        color: white;
        background-color: #0D3309;
    }
}

.primary {
    background-color: #0D3309;
    color: white;

    &:hover,
    &:active {
        border: 3px solid #0D3309;
        color: #2B2B2B;
        background-color: unset;
    }
}
.tertiary {
    border: 3px solid #0D3309;
    background-color: white;
    color: #2B2B2B;

    &:hover,
    &:active {
        background-color: #0D3309;
        color: white;
    }
}